@import url('https://api.fontshare.com/css?f[]=clash-display@700&display=swap');
.volt_img {
    /* width: 400px;
    height: 400px; */
    overflow: hidden; 
}

.inner-img {
    transition: 1.9s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.comic {
    font-family: 'Clash Display', sans-serif!important;
    font-weight: bolder;
    /* color: #000; */
}

/* .ourcomics {
    padding: 20px!important;
} */

@media(max-width:760px){
    .ourcomics {
        padding: 20px!important;
        text-align: center; 
        /* border: none!important; */
    }

    .ourcomics img {
        padding: 20px!important;
    }
 }

