@import url('https://api.fontshare.com/css?f[]=clash-display@700&display=swap');
.volt_img {
    overflow: hidden; 
    margin-left: -10px;
}

.comicVolt {
    margin-top: 40px!important;
}

.volt_min {
    display: none;
}

.inner-img {
    transition: 1.9s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.comic {
    font-family: 'Clash Display', sans-serif!important;
    font-weight: bolder;
    /* color: #000; */
}


@media(max-width:1000px) {
    .volt_read a {
        font-size: 15px;
      }

      .comicVolt {
        margin-top: 100px!important;
        margin-left: 20px;
    }
    
    .volt_img img {
        width: 900px;
    }

    .volt_img {
        margin-left: 0;
    }
}

@media(max-width:700px){
    .ourcomics {
        width: 100%!important;
    }

    .ourcomics img {
        width: 100%!important;
    }

    .volt__margin {
        margin: -24px!important;
    }

    .volt_max {
        display: none;
    }

    .volt_min {
        display: inline;
        padding: -50px!important;
    }

    .volt_all {
        margin-top: 20px!important;
        margin-left: 0px!important;
    }

    .volt_read a {
        margin-bottom: 50px!important;
    }
    
    /* .volt__height {
       height: 340px!important;
    } */
 }

