@font-face {
    font-family: 'cibreo';
    src: url('../../Fonts/cibreo.ttf');
}
  
@font-face {
    font-family: 'Campton';
    src: url('../../Fonts/CamptonSemiBold.otf');
}

.editor {
    border: none!important;
}