
.bigsam {
  display: none
}
  
/* hide scrollbar but allow scrolling */
.element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden; 
}
  
.element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
    overflow: hidden; 
    scrollbar-width: none;
}

.landing img {
padding: 60px;
width: 1160px!important;
margin-top: -50px;
}

.landing {
display: flex;
justify-content: center;
}

.app__nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between!important;
}

.icons {
    margin-top: -133px!important;
    overflow: hidden;
}

.icons i {
    background-color: #b444ff;
    padding: 10px;
    border-radius: 100%;
}

.icons img {
    width: 39px!important;
}

.icons i, .icons img {
    font-size: 18px!important;
  }

.app__header li {
    padding: 20px;
}

.app__header li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.app__header li a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #882CC4;
    transition: width .3s;
}

.app__header li a:hover::after {
    width: 100%;
}

.app__shop a:hover {
    cursor: progress;
}

.icons_home {
     background-color: #882CC4;
}

.icons_home i {
    color: #fff;
    padding: 10px;
}

@media(max-width:760px) {
    .app__nav {
        display: flex;
        flex-direction:inherit;
        text-align: center;
    }

     .home {
        background-image: url(../../assets/small_bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 103.1vh;
        background-color: #b444ff;
        overflow: hidden;
     }

    .bigsam {
        display: inline;
       margin-top: 30px!important;
    }


    .landing img {
        display: none;
    }

    .landing {
        display: none;
    }

    .something {
        background: #FF7748!important;
        margin: 10px!important;
        margin-top: 145px!important;
        padding: 10px;
        width: 79%!important;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        text-align: center;
        margin-right: auto !important;
        margin-left: auto !important;
    }


    .icons {
        margin-top: 5px!important;
    }

    .icons i, .icons img {
      font-size: 14px!important;
    }

    .volt {
        margin-top: 10px!important;
    }

}

@media(max-width:1280px){
    .landing img {
         margin-left: 20px;
        margin-top: -50px;
    }
}


@media(max-width:900px) {
    .landing {
        min-height: 85vh!important;    
        margin-top: 20px!important;  
    }
    
    .icons {
        margin-top: -100px!important;
    }

    .landing img {
       display: none;
    }

    .landing {
     background-image: url(../../assets/team1.png);
     background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-position: center;
    width: 1150px!important;
    min-height: 201vh;
    margin-top: -30px!important;
    size: 1000px;
} 
        
}

@media(min-width:1000px) {
    .icons {
        margin-top: inherit
    }
}

