@import url('https://api.fontshare.com/css?f[]=clash-display@700&display=swap');

@font-face {
  font-family: 'cibreo';
  src: url('../../Fonts/cibreo.ttf');
}

@font-face {
  font-family: 'Campton';
  src: url('../../Fonts/CamptonSemiBold.otf');
}

.comic {
    font-family: 'Clash Display', sans-serif!important;
    font-weight: bolder;
    /* color: #000; */
}

.upload img {
  min-height: 100px!important;
}

.volt_btn {
  font-family: 'cibreo';
}

.nft_img button{
    width: 100%!important;
    background-color: #882CC4;
    border-radius: 0;
}

.nft_img button:hover{
    background-color: #882CC4!important;
}

.volt_img {
  transition: 1.9s;
}

.volt_img:hover {
  transform: scale(1.1);
}

.volt_img {
    /* width: 400px;
    height: 400px; */
    overflow: hidden; 
}

.btn:focus {
  outline: none!important;
  box-shadow: none!important;
}

  .loader {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .loader .spinner-border {
    position: absolute;
    top: 40%;
    left: 50%;
  }

  @media(min-width:1000px) {
    .upload {
      margin-bottom: 20px;
    }
  }

  @media(max-width:750px){
      .upload  {
        /* padding: 40px!important; */
        text-align: center!important;
        width: 100px;
        /* margin-left: 25px!important; */
        margin-bottom: none!important;
      }

      .voltBig h1 {
          margin-top: 150px!important;
      }
  }
