.meetBorder {
    border-right: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    border-top: 0.5px solid #000;
    border-left:0.5px solid #000;
    cursor: pointer;
}

.getBorder img {
  cursor: pointer;
}

/* .sideImg {
   position: fixed;
} */

.sideImg img {
  margin-top: -235px!important;
  margin-left: -300px!important;
  width: 70vw; 
  position: fixed;
  overflow: hidden;
}

.sideImg p{
    font-size: 18px!important;
    text-align: justify;
}

.ceo {
    text-align: justify;
}


 @media(max-width:760px){
    .app__meet_bg {
        padding: 40px!important;
        text-align: center; 
        /* border: none!important; */
    }

    .sideImg img {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .getBorder {
        border-color: #fff!important
    }

    .sideImg p{
        font-size: 14px!important;
        text-align: justify;
    }
    
 }