  .subscribe_form {
    // max-width: 470px;
    // width: 100%;
    // margin: 0 auto;
    margin-left: -20px!important;
    &:focus {
      outline: none;
    }
    .form-control {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    input {
      height: 44px;
    }
    button {
      border: none;
    //   height: 44px;
      background-color: #882cc4;
      color: #fff;
      margin: -1px;
      border-radius: 0;
      width: 135px;
      position: relative;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      &:hover, &:focus, &:active, &:visited {
        color: #fff;
        background-color: #882cc4;
        outline: none;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        &:before {
          background-color: #882cc4;
          transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        background-color: #882cc4;
        width: 100%;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: 0px;
    }
  }

  @media(min-width:760px) {
    #new_btn {
        display: none;
        text-transform: capitalize;
        width: 100%;
    }
  }

  @media(max-width:760px) {
    .old_btn {
        display: none;
    }
  }