@media(max-width:760px){
    .logo {
        width: 150px;
    }

    .volt-img {
        width: 15px!important;
    }
}

@media(min-width:1100px){
    .volt-img {
        width: 100%!important;
    }
}